<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>
		{% block pagetitle %}Sandpiper File Manager{% endblock %}
	</title>

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<!-- bower:css -->
	<link rel="stylesheet" href="bower_components/materialize/bin/materialize.css" />
	<!-- endbower -->
	
	<link rel="stylesheet" href="build/sandpiper.min.css" />

	<!-- bower:js -->
	<script src="bower_components/jquery/dist/jquery.js"></script>
	<script src="bower_components/materialize/bin/materialize.js"></script>
	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/angular-materialize/src/angular-materialize.js"></script>
	<!-- endbower -->

	<script src="lib/isaac.js"></script>
	<script src="lib/bcrypt.js"></script>
	<script src="build/sandpiper.min.js"></script>
</head>
<body ng-app="sandpiper">
	<main>

		{% if loggedIn %}
			{% include "topnav.html" %}
		{% endif %}

		<div id="content-wrapper">
			<div class="container" id="content-root">
				{% block content %}
				{% endblock %}
			</div>
		</div>

	</main>

	<footer class="page-footer grey lighten-4">
		<div class="container grey-text">
			<p>
				Sandpiper by Alex Arendsen, GPLv2.0 2015. <a href="http://github.com/AlexArendsen/sandpiper/">Code on GitHub</a>.
			</p>
		</div>
	</footer>
</body>
</html>
