{% extends "base.html" %}
{% block content %}
	<div id="dash-wrapper" ng-controller="DashCtrl">
		<a href="file.edit.php" class="btn-floating btn-large waves-effect waves-light amber" id="add-button">
			<i class="material-icons">add</i>
		</a>

		<nav class="light-blue lighten-4">
			<div class="nav-wrapper">
				<form action="javascript:void(0)" method="GET">
					<div class="input-field">
						<input type="search" name="q" id="search" ng-model="searchText" placeholder="Search for files" required>
						<label for="search"><i class="material-icons">search</i></label>
					</div>
				</form>
			</div>
		</nav>

		<div class="row" id="results-container">
			<div class="col s10 offset-s1 m8 offset-m2" ng-hide="ready" id="preloader">
				<div class="progress">
					<div class="indeterminate"></div>
				</div>
			</div>

			<div class="col s12" ng-hide="results.length||error||!ready">
				<div id="no-files-notice">
					<h4 class="grey-text lighten-2">No files found</h4>
					<p class="grey-text">Click the "+" button in the lower right to add a file!</p>
				</div>
			</div>
			<div class="col s12" ng-show="error">
				<div id="error-notice">
					<h4 class="grey-text lighten-2">Oh no!</h4>
					<p class="grey-text">There was an error retreiving your files. Please report the incident to your web administrator with the following the error message:</p>
					<pre>{{ error }}</pre>
				</div>
			</div>
			<div class="col s12 m4 l3" ng-repeat="item in results | filter:searchText | limitTo: 25">
				<div class="medium card">
					<a href="authorize.php?file={{ item.file }}" target="_blank" class="card-image grey lighten-4" style="background-image:url('{{ item.image }}');"></a>
					<div class="card-content">
						<div class="card-title-wrapper">
							<span class="card-title file-title">
								<a href="authorize.php?file={{ item.file }}">{{ item.title }}</a>
							</span>
							<small class="grey-text card-subtitle">
								{{ item.edate }}
							</small>
						</div>
						<a href="javascript:void(0)" class="tag light-blue lighten-2 white-text" ng-click="filterBy(item.type)">{{ item.type }}</span>
						<a href="javascript:void(0)" class="tag grey lighten-4 grey-text" ng-repeat="tag in item.tags track by $index | limitTo: 5" ng-click="filterBy(tag)">{{ tag }}</a>
					</div>
					<div class="card-action">
						<a href="authorize.php?file={{ item.file }}" target="_blank" class="right">View</a>
						<a href="file.edit.php?i={{ item.id }}">Edit</a>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
