{% extends "base.html" %}
{% block content %}
	<div id="edit-wrapper" ng-controller="EditorCtrl">
		{% include "topnav.html" %}

		<form action="save.php" method="POST" enctype="multipart/form-data">

			<input type="hidden" name="file-id" id="file-id" value="{[{ fileId }]}">
			<input type="hidden" name="file-action" id="file-action">

			<div class="row">
				<div class="col m12 l8 offset-l2">
					<div class="card">
						<div class="card-content">
							<span class="card-title grey-text">
								{{ editor.title }}
							</span>
							<div class="row">
								<div class="file-field input-field col s12">
									<p>Maximum File Upload Size: {[{ maxUploadSize }]}</p>
									<div class="btn light-blue lighten-2">
										<span>File</span>
										<input type="file" name="file-file" ng-required="file.isNew">
									</div>
									<div class="file-path-wrapper">
										<input type="text" ng-model="file.path" class="file-path" ng-change="onFileChange()" name="file-path" id="file-path">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="input-field col s12">
									<input type="text" name="file-title" id="file-title" ng-model="file.title" length="255" placeholder="File Title" required>
									<label for="file-title">Title</label>
								</div>
							</div>
							
							<div class="row">
								<div class="input-field col s12">
									<input type="text" ng-model="file.tags" name="file-tags" id="file-tags" placeholder="Separate with commas">
									<label for="file-tags">Tags (optional)</label>
								</div>
							</div>
						</div>

						<div class="card-action">
							<a href="index.php" class="grey lighten-4 grey-text btn waves-effect waves-light">Cancel</a>
							<a href="delete.php?i={{ file.id }}" ng-hide="file.isNew" class="red lighten-2 white-text btn waves-effect waves-light">Delete</a>
							<div class="right">
								<button class="btn waves-effect waves-light light-blue lighten-2" type="submit" name="redirection" value="normal">{{ editor.submitlabel }}</button>
								<button class="btn waves-effect waves-light light-blue lighten-3" ng-hide="!file.isNew" type="submit" name="redirection" value="continue">{{ editor.continuelabel }}</button>
							</div>
						</div>
					</div>
				</div>
			</div>

		</form>

	</div>
{% endblock %}