{% extends "base.html" %}
{% block content %}
	<div class="row hide-on-small-only" id="login-bulkhead">
		<div class="col s12"></div>
	</div>
	<div class="row hide-on-med-and-up" id="login-mobile-shim">
		<div class="col s12"></div>
	</div>
	<div class="row" id="login-wrapper">
		<div class="col s12 m6 l6">
			<!-- App Brand -->
			<div class="right-align" id="login-brand">
				<h1 class="thin">Sandpiper</h1>
				<p class="flow-text">
					Flat File Manager
				</p>
			</div>
		</div>
		<div class="col s12 m6 l6">
			<form action="login.php" method="POST" id="login-form">
				<div class="card">
					<div class="card-content">
						<span class="grey-text card-title">Log In</span>
						<div class="row">
							<div class="input-field col s12">
								<input type="text" name="username" id="login-username" value="{[{ username }]}">
								<label for="login-username">Username</label>
							</div>
							<div class="input-field col s12">
								<input type="password" name="password" id="login-password">
								<label for="login-password">Password</label>
							</div>
						</div>
					</div>
					<div class="card-action right-align">
						<span id="error-text" class="orange-text">{[{ message }]}</span>
						<button class="btn-flat grey-text waves-effect waves-light" type="submit">
							Log In
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
{% endblock %}