<nav id="top-nav" class="light-blue lighten-2">
	<div class="nav-wrapper">
		<a href="index.php" class="brand-logo">Sandpiper</a>
		<a href="#" data-activates="mobile-menu" class="button-collapse" data-sidenav="left" data-menuwidth="500" data-closeonclick="false">
			<i class="material-icons">menu</i>
		</a>
		<ul class="right hide-on-med-and-down">
			<li><a href="edit.php">Add File</a></li>
			<li><a href="logout.php">Logout</a></li>
		</ul>
		<ul class="side-nav" id="mobile-menu">
			<li><a href="edit.php"><i class="material-icons right">add</i>Add File</a></li>
			<li><a href="logout.php"><i class="material-icons right">eject</i>Logout</a></li>
		</ul>
	</div>
</nav>