{% extends "base.html" %}
{% block content %}
	<div class="row" ng-controller="UsersCtrl">
		<div class="col s12 m12 l8 offset-l2">

			<div class="card">
				<div class="card-content">
					<a class="btn waves-effect waves-light modal-trigger right" href="#modal-create-user">Create New User</a>
					<span class="card-title grey-text">Manage Users</span>
					<table class="stiped">
						<thead>
							<tr>
								<th colspan="2">User</th>
								<th>Delete</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="user in users">
								<td>
									<a href="#!" ng-click="userSelect(user)">{{ user.username }}</a>
								</td>
								<td style="text-align:right">
									<span ng-show="user.isAdmin" class="grey-text">Administrator</span>
								</td>
								<td>
									<a href="#!" ng-click="userDelete(user)"><i class="material-icons red-text">remove_circle</i></a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

			<div id="modal-create-user" class="modal">
				<form action="javascript:void(0)" id="user-form" ng-submit="userCreate(newUser)">
					<div class="modal-content">
						<h4 class="grey-text thin">Create New User</h4>
						<div class="row">
							<div class="col s12">
								<div class="input-field">
									<input type="text" ng-model="newUser.username" length="255" id="username-input" required>
									<label for="username-input">Username</label>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col s12">
								<div class="input-field">
									<input type="password" ng-model="newUser.password" id="password-input" required>
									<label for="password-input">Password</label>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col s12">
								<div class="input-field">
									<input type="password" ng-model="newUser.passwordConfirm" id="password-confirm-input" required>
									<label for="password-confirm-input">Password Confirm</label>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col s12">
								<p>
									<input type="checkbox" ng-model="newUser.isAdmin" id="isAdminCheckbox" class="filled-in">
									<label for="isAdminCheckbox">Is Administrator? (May manage user accounts)</label>
								</p>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn-flat waves-effect waves-light">Create User</button>
						<button type="button" ng-click="newUserClear()" class="btn-flat waves-effect waves-light modal-close">Cancel</button>
					</div>
				</form>
			</div>

			<div id="modal-edit-user" class="modal">
				<div class="modal-content">
					
				</div>
			</div>

		</div>
	</div>
{% endblock %}